[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
flake8-annotations = "*"

[requires]
python_version = "3.9"

[scripts]
run = "pipenv run uvicorn main:app --reload"
