.hero h1 {
    font-size: 10vw;
}

form[name=appnew] div {
    white-space: nowrap;
}

pre#conf {
    white-space: pre-wrap;
    position: relative;
}

pre#conf #copy-cli {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

pre#conf #copy-cli:active {
    opacity: 0.5;
}
